 {{>headerAboutUs}}
 <link rel="stylesheet" href="/css/aboutus.css">
 <title>About Us</title>
 <div class="about-section">
  <h1>About Us Page</h1>
  <br>
  <p>
    We are a team of highly motivated developers who are currently pursuing their B.Tech degree from International Institute of Information Technology, Naya Raipur. <br>
    This application is developed with an vision to provide various state of the art features to the offline retailers which would help them in competing in today's ever changing market. <br>
    The inception of AI has enabled various possibilities for the retailers, our effort is simply to leverage upon them. Hope, you will like our work. Do share your valuable feedback.
  </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="margin-left: 100px;">
  <div class="column">
    <div class="card" style="width: 75%;">
      <img src="/img/team1.jpeg" alt="Jane" style="width:100%; height: 30%">
      <div class="container">
        <h2>Vinayak Bhartia</h2>
        <p class="title">Machine Learning and Data Science Lead</p>
        <p>I am responsible for integrating the application with visual <br>
          recognition service. Also, I have enabled forecasting of stocks <br>
          and recommendation of related products based on previous <br>
          transaction history. I look forward to add several other <br>
          important features that would make the life of an retailers <br>
          easy and more profitable.</p>
        <p><b>Contact : </b>vinayak17101@iiitnr.edu.in</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 75%;">
      <img src="/img/team2.jpeg" alt="Mike" style="width:100%; height: 30%">
      <div class="container">
        <h2>Vivek Singh</h2>
        <p class="title">Backend Lead</p>
        <p>I have contributed by creating the backend part of the application. <br>
          We used NodeJS and Express framework for application because <br>
          of non-blocking and asynchronous nature. The application is well <br>
          connected to provide all the important information to the retailers <br>
          such as sales, customers, inventory etc. Also, the interaction are <br>
          made to be efficient and fast. 
        </p>
        <p><b>Contact : </b>vivek17100@iiitnr.edu.in</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 75%;">
      <img src="/img/team3.jpeg" alt="John" style="width: 100%; height: 30%">
      <div class="container">
        <h2>Yash Khare</h2>
        <p class="title">Frontend Lead</p>
        <p>My contribution is in the designing of the application. I provided <br>
          the frontend for it by using various different libraries such as <br>
          Bootstrap. The UI is made to be simple and easy to use for all. <br>
          Retailers won't face any difficulties in interacting with the app. <br>
          Various important information can be retrieved easily and billing <br>
          can be done very quickly. 
        </p>
        <p>john@example.com</p>
      </div>
    </div>
  </div>
</div> 