<form method="POST" enctype="multipart/form-data" id="image-form">
    <input type="text" name="pname" placeholder="Product Unique Name">
    <input type="text" name="price" placeholder="Enter the price of the product">
    <input type="file" name="image">
    <button type="submit" class="btn btn-success">Upload</button>
</form>