<link href="/css/bootstrap.css" rel="stylesheet">
{{>userHeader}}
<div id="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="/home">Home</a>
            </li>
            <li class="breadcrumb-item">
            <a href="/sales">Sales Report</a>
            </li>
            <li class="breadcrumb-item active">Basket</li>
        </ol>
        <div class='container-fluid'>
            <div class="row">
                
            </div>
        </div>
        <div class='container-fluid'>
            {{# if products}}
            <br>
            <h1>Customer Basket</h1>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-8 col-md-offset-3 col-sm-offset-3">
                    <ul class="list-group-item">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2 col-md-4">
                                    <strong>
                                        <h4>Product Name</h4>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-5">
                                    <strong>
                                        <h4>Total Quantity</h4>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <strong>
                                        <h4>Total Cost</h4>
                                    </strong>
                                </div>
                            </div>
                        </li>
                        {{# each products}}
                         <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2 col-md-4">
                                    <strong>
                                        <h5>{{this.product}}</h5>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-5">
                                    <strong>
                                        <h5><span style="padding-left: 70px;">{{this.qty}}</span></h5>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <strong>
                                        <h5><span style="padding-left: 20px;">Rs. {{this.price}}</span></h5>
                                    </strong>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{ else }}
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <h2>No Sales made uptil now</h2>
                </div>
            </div>
        </div>
        {{/if}}