{{>headerContact}}
<link rel="stylesheet" href="/css/contactus.css">
<div class="container" style="padding-left: 0%;">
	<div class="row">
			<h1>Contact Us</h1>
	</div>
	<div class="row">
			<h3 style="text-align:center">We'd love to hear from you!</h4>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<a href="/contact"><div class="btn-lrg submit-btn">Send Message</div></a>
			</div>
	</div>
</div>
