{{>headerContact}}
<title>Contact Us!</title>
<link rel="stylesheet" href="/css/contactus.css">
<div class="container" style="padding-left: 0%;">
	<div class="row">
			<h1>Contact Us</h1>
	</div>
	<div class="row">
			<h3 style="text-align:center">We'd love to hear from you!</h4>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<a><div class="btn-lrg submit-btn" onclick="setTimeout(message, 3000)">Submit Message</div></a>
			</div>
			<br><br>
			<center style="margin-top: 20px;">
				<b><h4 style="color: white;" id="message"></h4></b>
			</center>
			
	</div>
</div>
<script>
	function message() {
		console.log('yes')
		var message = document.getElementById('message')
		message.innerHTML = "Your response is recorded. We will get back to you soon!"
	}
</script>
