<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Let's Shop - Home</title>
    </head>
    <body>
        {{>userHeader}}
        <div id="content-wrapper">
            <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item active">Customer</li>
            </ol>
            <br>
            <h2>Upload the image of the customer</h2>
            <br>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="image-form">
                    <input type="file" name="image">
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <br>
            </div>
        </div>
    </body>