<!DOCTYPE html>
<html>
    <head>
        <title>Image form</title>
    </head>
    <body>
        {{>userHeader}}
        {{products}}
        <form method="POST" enctype="multipart/form-data" id="image-form">
            <input type="file" name="image">
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </body>
    <script>
        var token = window.location.href.split('/')[4]
        document.getElementById("image-form").action = '/billing/' + token
    </script>
</html>