{{>header}}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>Let's Shop</h1>
          <h3>Know your customer</h3>
          <hr>
          <a href="/signup"><button class="btn-lg">Get Started!</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>}}