<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="/css/styles.css" rel="stylesheet">
<link rel="icon" href="/img/title.png">
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
<a class="navbar-brand mr-1" href="#">Let's Shop</a>
<div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <button type="button" class="btn btn-success" onclick="newbill()"><i class="fa fa-plus fa-fw"></i>New Bill</button>
    <button type="button" class="btn btn-info"><i class="fa fa-user-circle fa-fw"></i>User Profile</button>
    <button type="button" class="btn btn-danger" onclick="logout()"><i class="fa fa-user-circle fa-fw"></i>Logout</button>
</div>
</nav>
<div id="wrapper">
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
<li class="nav-item">
  <a class="nav-link" href="/home">
    <i class="fa fa-fw fa-home"></i>
    <span>Home</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/sales">
    <i class="fa fa-fw fa-bar-chart"></i>
    <span>Sales Reports</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/inventoryreport">
    <i class="fa fa-fw fa-tags"></i>
    <span>Inventory Reports</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/viewcustomers">
    <i class="fa fa-fw fa-table"></i>
    <span>View Customers</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/credithistory">
    <i class="fa fa-fw fa-money"></i>
    <span>Credit History</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/debithistory">
    <i class="fa fa-fw fa-money"></i>
    <span>Debit History</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/customer">
    <i class="fa fa-fw fa-plus"></i>
    <span>Record New Sale</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" id="add-new-product" href="">
    <i class="fa fa-fw fa-tags"></i>
    <span>Update Stock</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/forecastdemand">
    <i class="fa fa-fw fa-industry"></i>
    <span>Forecast Demands</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="general-settings.html">
    <i class="fa fa-fw fa-cogs"></i>
    <span>View Profile</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="help.html">
    <i class="fa fa-fw fa-life-ring"></i>
    <span>Contact Us</span></a>
</li>
</ul>
<script src="/js/userHeader.js"></script>